# **마크다운 공간**

In [5]:
if True :
    print("실행문장 실행")
print("if문 밖에 있는 실행문장")

실행문장 실행
if문 밖에 있는 실행문장

In [6]:
if False:
    print("실행문장 실행")
print("if문 밖에 있는 실행문장")

if문 밖에 있는 실행문장

In [7]:
if 1 :
    print("여기는 True 입니다.")

여기는 True 입니다.

In [8]:
if -1 :
    print("여기는 True 입니다.")

여기는 True 입니다.

In [12]:
if 0 :
    print("여기는 True 입니다.")

In [14]:
if "" :
    print("여기는 True 입니다.")

In [15]:
if "OK" :
    print("여기는 True 입니다.")

여기는 True 입니다.

In [21]:
money = 11000

if money >= 10000 :
    print("택시를 탄다")

택시를 탄다

In [22]:
money = 9000

if money >= 10000 :
    print("택시를 탄다")

In [23]:
money = 11000

if money >= 10000 : 
    print("택시를 탄다.")
else :
    print("버스를 탄다.")

택시를 탄다.

In [28]:
num = int(input("정수 입력 >>"))

if num % 3 == 0 and num % 5 == 0 :
    print("3과 5의 배수입니다.")                    #숫자의 배수는 나눴을 때 나머지가 0일 때이다.=은 꼭 두개,==
else :
    print("3과 5의 배수가 아닙니다. ")                       #3과 5의 배수가 아닌 모든 경우.

정수 입력 >> 15

3과 5의 배수입니다.

In [1]:
#첫번째 방법 - 문자열 인덱싱 활용

number = input("주민등록번호 뒷자리 입력 >> ")      #숫자가 아니라 문자니까 인풋

if number[0]== '1' or number[0]=='3' :
    print("당신은 남자입니다 ^^7")
else :
    print("당신은 여자입니다 ^^*")

주민등록번호 뒷자리 입력 >>  2332560

당신은 여자입니다 ^^*

In [2]:
#두 번째 방법 - 몫 연산자 활용

number = int(input("주민등록번호 뒷자리 입력 >> "))      #숫자니까 인트, 그냥 문자면 바로 인풋

if number//1000000==1 or number//1000000==3 :
    print("당신은 남자입니다 ^^7")
else :
    print("당신은 여자입니다 ^^*")

주민등록번호 뒷자리 입력 >>  438881

당신은 여자입니다 ^^*

놀이동산 예약 프로그램

In [4]:
name = input("이름 입력 >> ")
age =  int(input("나이 입력 >> "))
card = input("카드 소지 여부 (소지, 미소지) >>" )
fee = 35000

#성인
if age >= 19 :
    if card == "소지" :
       fee *= 0.7             # fee = fee * 0.7
#미성년자
else :
    fee *= 0.5            #미성년 기본 요금
    if card == "소지" :
        fee *= 0.9

print(f"{name}님은 입장료 {int(fee)}원에 예약되셨습니다. ") #int를 넣음으로 소수점이 사라진다. 원래 소수점 써서 소수점으로 나옴.

이름 입력 >>  최서안
나이 입력 >>  23
카드 소지 여부 (소지, 미소지) >> 소지

최서안님은 입장료 24500원에 예약되셨습니다.

In [5]:
#마스크 조건문 예제~~!!!! very imfortant~~!!!!!!!!!!.......어려워

count0fmask = int(input("마스크 개수 입력 >> "))

mask8 = count0fmask // 8                 # 연산자//는 몫이다. %는 나머지
mask5 = count0fmask % 8 // 5             # 현재의 mask5은 남은 마스크가 5~7개 일 때만 적용 가능.

# 8개들이와 5개들이로 포장한 후 남은 마스크가 1~4개 일 때 !! 밑에
if count0fmask % 8 % 5 >= 1 : 
    mask5 += 1

print(f"8개들이 포장지 개수 : {mask8}")
print(f"5개들이 포장지 개수 : {mask5}")

마스크 개수 입력 >>  54

8개들이 포장지 개수 : 6
5개들이 포장지 개수 : 2

In [6]:
if True :
    print("실행문장1")
elif True :
    print("실행문장2")

실행문장1

In [7]:
if False :
    print("실행문장1")
elif True :
    print("실행문장2")

실행문장2

In [9]:
if False :
    print("실행문장1")
elif False :
    print("실행문장2")

In [18]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

if num1 > num2 :
    print("첫 번째 정수가 더 큽니다.")
elif num1 < num2 :
    print("두 번째 정수가 더 큽니다.")
else :                          #둘 다 아닐때 else를 쓴다.
    print("두 수가 똑같습니다.")

첫 번째 정수 입력 >>  2
두 번째 정수 입력 >>  2

두 수가 똑같습니다.

In [20]:
#학점 계산기

score = int(input("점수 입력 >> "))

if 90 =< score =<100 :
    print("{score}점은 A학점 입니다.")
elif score 80 =< score <90 :
print("{score}점은 B학점 입니다.")
elif score 70 =< score < 80 :
print("{score}점은 C학점 입니다.")
elif score 60 =< score < 70 :
print("{score}점은 D학점 입니다.")
else :
print("{score}점은 F학점 입니다.")           #???????

SyntaxError: invalid syntax (303312284.py, line 5)

In [ ]:
:

In [21]:
#학점 계산기

score = int(input("점수 입력 >> "))

if score >= 90 :
    grade = "A"

# if 문제 있는 조건식이 false일 경우에만 elif로 내려오기 때문에 사전에 90점 미만이라는 대전제가 깔려져서 내려오게 됨
elif score >= 80 :             #90 미만을 안 쓴 이유_ 이프엘리트구문, 첫번째줄부터 트루 펄스로 내려와서
    grade = "B"
elif score >= 70 :
    grade = "C"
elif score >= 60 :
    grade = "D"
else :
    grade = "F"
    
print(f"{score}점은 {grade}학점 입니다.")

점수 입력 >>  80

80점은 B학점 입니다.

In [24]:
# x, y 값을 받아서 사분면을 출력하기

num1 = int(input("x값을 입력하세요. : "))
num2 = int(input("y값을 입력하세요. : "))

if num1 > 0 and num2 > 0 :
    quadrant = "1"
elif num1 > 0 and num2 <0:
    quadrant = "4"
elif num1 <0 and num2>0 :
    quadrant = "2"
else :
    quadrant = "3"

print(f"좌표({num1},{num2})는 제{quadrant}사분면입니다.")                 # 내가 햇당

x값을 입력하세요. :  -1
y값을 입력하세요. :  2

좌표(-1,2)는 제2사분면입니다.

In [26]:
# 쌤이 한 x, y 값을 받아서 사분면을 출력하기

x = int(input("x값을 입력하세요. : "))
y = int(input("y값을 입력하세요. : "))

if x > 0 and y > 0 :
    q = 1
elif x > 0 and y <0:
    q = 4
elif num1 <0 and num2>0 :
    q = 2
else :
    q = 3

print(f"좌표({x},{y})는 제{q}사분면입니다.")

x값을 입력하세요. :  4
y값을 입력하세요. :  -3

좌표(4,-3)는 제4사분면입니다.

In [38]:
#나이에 따른 버스 요금 계산 프로그램 (내가 한 거 )

age = int(input("나이 입력 >> "))
price = 1500

if age < 5 :
    price *= 0.5 
elif age < 20 :
    price *= 0.75 
elif age >= 65 :
   price *= 0.25

print(f"요금은{price}원 입니다." )

나이 입력 >>  35

요금은1500원 입니다.

In [36]:
# 쌤이랑 한 버스 요금 나이


age = int(input("나이 입력 >> "))
fee = 1500

if age < 5 :
    fee *= 0.5       # fee = fee * 0.5
elif age < 20 :      # 5살 미만이 아닌 경우에 elif문이 동작하기 때문에 굳이 똑같은 조건을 더 줄 필요가 없음.
    fee *= 0.75
elif age >= 65 :
    fee *= 0.25

print(f"요금은 {int(fee)}원 입니다.")

나이 입력 >>  43

요금은 1500원 입니다.

리스트!!!

In [46]:
list1 = [ 2, 5, 7, 9, 10]
print(list1[0])
print(list1[3])
print(list1[2]+list1[-1])

2
9
17

In [45]:
list2 = [1, 2, 3, ['a', 'b', 'c']]
print(list2[3])

['a', 'b', 'c']

In [50]:
list2 = [1, 2, 3, ['a', 'b', 'c']]
temp = list2[3]
list2[3][1]      #2차원의 list인 경우 인덱싱 문법인 []를 두번 사용. (하나씩 찾아서 안쪽으로 들어가는 경우다.)

'b'

In [51]:
list3 = [0, 1, 2, 3, 4]
list3[1:3]     #시작 인덱스 부터 끝 인덱스 바로 전까지의 값 반환 (시작 =< x <끝)_ 밑에 이어서 예제

[1, 2]

In [53]:
list3 = [0, 1, 2, 3, 4]
list3[:3]
#시작 인덱스 부터 끝 인덱스 바로 전까지의 값 반환 (시작 =< x <끝)

[0, 1, 2]

In [60]:
list4=[1, 2, 3, 4]
list5=[ 5, 6, 7]
list4 + list5

[1, 2, 3, 4, 5, 6, 7]

In [69]:
list5 = [0, 1, 2, 3, 4]
list5.append(5)              # append는 뒤에 추가해주는 거다.
list5

[0, 1, 2, 3, 4, 5]

In [82]:
list_ = ['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']

apple = list_[0]
water_melon = list_[2][0]
list_[-1]

'오렌지'

In [86]:
choice_list = []    #비어있는 리스트 생성  >> 값을 추가함.

choice_list.append(apple)
choice_list.append(orange)
choice_list.append(water_melon)

choice_list

['사과', '오렌지', '수박']

In [88]:
list5 = [0, 1, 2, 3, 4]
list5.insert(1, 5)      #1번째 자리에 5라는 값을 추가.  하는 것을 인덱스라고 한다.
list5

[0, 5, 1, 2, 3, 4]

In [89]:
list5 = [0, 1, 2, 3, 4]
list5.insert(5, 6)     
list5

[0, 1, 2, 3, 4, 6]

In [92]:
music_list = [["supernova", "에스파"],
              ["한 페이지가 될 수 있게", "데이식스"],
              ["고민중독", "QWER"]
             ]
music_list.insert(1,["영원", "DK"])
music_list

[['supernova', '에스파'],
 ['영원', 'DK'],
 ['한 페이지가 될 수 있게', '데이식스'],
 ['고민중독', 'QWER']]

In [93]:
music_list = [["supernova", "에스파"],
              ["한 페이지가 될 수 있게", "데이식스"],
              ["고민중독", "QWER"]
             ]
music_list.insert(3,["천상연", "이창섭"])
music_list

[['supernova', '에스파'],
 ['한 페이지가 될 수 있게', '데이식스'],
 ['고민중독', 'QWER'],
 ['천상연', '이창섭']]

In [97]:
#확장된 뮤직 리스트


music_list = [["supernova", "에스파"],
              ["한 페이지가 될 수 있게", "데이식스"],
              ["고민중독", "QWER"]
             ]
music_list.insert(3,["천상연", "이창섭"])
music_list.insert(1, ["영원", "DK"])

index_value = int(input("인덱스 입력>> "))
song = input("노래 제목 >> ")
singer = input("가수 입력 >> ")

music_list.insert(index_value, [song, singer])
music_list

인덱스 입력>>  3
노래 제목 >>  좋은날
가수 입력 >>  ㅇㅏ이유

[['supernova', '에스파'],
 ['영원', 'DK'],
 ['한 페이지가 될 수 있게', '데이식스'],
 ['좋은날', 'ㅇㅏ이유'],
 ['고민중독', 'QWER'],
 ['천상연', '이창섭']]

In [99]:
list6 = [0, 1, 2, 3, 4]
list6
#덮어씌어서 값을 수정하는 방법.
print("수정 전 :", list6[1])
list6[1] = 7
print("수정 후 :", list6[1])

list6

수정 전 : 1
수정 후 : 7

[0, 7, 2, 3, 4]

In [101]:
#값을 삭제하는 방법.1

list7 = [0, 1, 2, 3, 4, 5]
del list7[1]
list7

[0, 2, 3, 4, 5]

In [102]:
#2

list7 = [0, 1, 2, 3, 4, 5]
del list7[1:5]
list7

[0, 5]

In [104]:
#3

list7 = [0, 1, 2, 3, 4, 5]
list7.remove(3)
list7

[0, 1, 2, 4, 5]

In [107]:
# sort 리스트에 있는 값을 오름차순으로 정렬

list8 = [9, 77, 13, 51, 100, 3]
list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [108]:
# rverse 리스트에 있는 값을 역순으로 뒤집음.

list9 = [9, 77, 13, 51, 100, 3]
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [109]:
#  sort와 reverse를 이용해서 내림차순으로 정렬_ 대신 좀 번거로움.   1

list10 = [9, 77, 13, 51, 100, 3]
list10
list10.sort()
list10
list10.reverse()
list10

[100, 77, 51, 13, 9, 3]

In [111]:
# 내림차순 두개 같이 쓰기.  2
list10 = [9, 77, 13, 51, 100, 3]

list10.sort(reverse=True)     #오름차순 정렬인 sort함수의 reverse 인자값을 바꿔줌.
list10

[100, 77, 51, 13, 9, 3]

In [112]:
# 리스트index() _ 찾고자 하는 값의 위치 출력

list11 = [1, 2, 3, 4, 5]
list11.index(3)

2

In [117]:
# 리스트.pop() _ 마지막 값을 출력 후 리스트에서 제거 > 하나씩 보여주고 제거할 때 사용하는 코딩, ex.웨이팅어플.

list12 = [1, 2, 3, 4, 5, 6]
list12.pop()

list12

[1, 2, 3, 4, 5]

In [118]:
#len(리스트)_ 리스트 내부의 값 개수 출력 1

list13 = [0, 1, 2]
len(list13)

3

In [119]:
#len(리스트)_ 리스트 내부의 값 개수 출력 2

list14 = [31, 22, 31, 54, 63, 78]
len(list14)

6

in 찾고자 하는 값이 포함되어 있으면 트루
not in 찾고자 하는 값이 포함되어 있지 않으면 트루

In [120]:
str1 = "파이썬 최고"
"파이썬" in str1

True

In [121]:
str1 = "파이썬 최고"
"파이썬"  not in str1

False

In [122]:
list1 = [77, 38, 10]
33 in list1

False

In [123]:
list1 = [77, 38, 10]
33 not in list1

True

In [127]:
s = "Hi my name is SW^^"
search = input("검색할 문자 입력 >> ")
cnt = s.count(search)                        #숫자 세는 문자 카운트, s 문자열에 들어있는 search 문자의 개수가 몇 개인지.

if search in s :
    print(f"{search}는 {cnt}번 들어있네요 ^_^")
else :
    print(f"{search}는 들어있지 않네요 ㅠ_ㅠ")

검색할 문자 입력 >>  i

i는 2번 들어있네요 ^_^