산술연산

In [1]:
time = int(input("시간 입력 >> "))
hour = time // 3600
minute = (time%3600) // 60 
second =(time%3600) % 60   # time % 60 과 같음
print("{}시간 {}분 {}초".format(hour, minute, second))   # {hour}이렇게 해도 됨> print (f "{hour}시간 {minute}분 {seocond}초")

시간 입력 >>  6333

1시간 45분 33초

In [2]:
num = int (input ("정수 입력 >>"))
power = int (input("지수 입력 >>"))
print("{}의 {}승은 {}입니다.".format(num, power, num**power))

정수 입력 >> 222
지수 입력 >> 2

222의 2승은 49284입니다.

In [3]:
num = 27
num +=3  #num = num + 3
num     # 업데이트 값

30

In [4]:
num = 100
num -= 55    # num = num - 55
num

45

In [5]:
num = 100
num /= 2
num /= 2
num

25.0

In [13]:
import random

a = random . randint (1, 10)
b = random . randint (1, 10)
print("a:{} , b:{}". format(a,b))

print(a < b)
print(a > b)
print(a == b)
print(a != b)

a:4 , b:10
True
False
False
True

In [14]:
a = 3
b = 7
not a < b

False

In [15]:
a = 3
b = 7
not a == b

True

In [16]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [17]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [20]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >>"))

print("a:",a) if a>b else print("b:",b)           # ~~~~if 조건식  else ~~~~

정수입력 >>  3
정수입력 >> 10

b: 10

In [21]:
a = int(input("첫 번째 정수 입력 >> "))
b = int(input("두 번째 정수 입력 >> "))

print("두 수의 차 :",a-b ) if a>b else print("두 수의 차 :", b-a)

첫 번째 정수 입력 >>  33
두 번째 정수 입력 >>  5

두 수의 차 : 28

In [27]:
a = int(input("정수 입력 >> "))
b = 2

print(" (은)는 홀수입니다.") if a%b==1 else print(" (은)는 짝수입니다")   #나머지가 0이면 짝수 1이면

정수 입력 >>  33

 (은)는 홀수입니다.

In [28]:
num =  int(input("정수 입력 >>"))
print(f"{num}는(은) 짝수입니다.")if num%2==0 else print(f"{num}는(은) 홀수입니다.")

정수 입력 >> 22

22는(은) 짝수입니다.

In [1]:
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [6]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

예제 연습하기

In [9]:
print("Hello word")

Hello word

In [7]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [10]:
print("first", end=""); print("seocond")

firstseocond